@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

body {
  background: #272932;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #b2c8ff;
  margin: 0;
  padding: 0;
}

.footerElements {
  width: 33%;
  font-size: 12px;
  display: flex;
  flex-direction : "row";
  justify-content: center;
  align-items: center;
}

a:any-link {
  color:#a3e6d1;
  text-decoration: none;
}

#geoTextButton:hover {
  background: #b2c8ff !important;
  color: black !important; 
}

::placeholder {
  color: #b2c8ff;
  opacity: 0.5;
  text-indent: 10px;
}

/* it's needed for disabling default arrows */
.swiper-button-next::after, .swiper-button-prev::after {
  content: "" !important;
}

div[id*="arrowRight"], div[id*="arrowLeft"] {
    top: 26px !important;  
}

div[id*="arrowRight"] {
  right: -2px !important;
}

div[id*="arrowLeft"] {
  left: -3px !important;
}

div[id*="swiperPagination"] {
  bottom: -2px !important
}

.swiper-pagination-bullet {
  background: #c9cef5 !important;
}

.swiper-pagination-bullet-active {
  --swiper-theme-color: #b2c8ff !important;
}

.swiper-slide {
  text-align: center;
  /* background: #fff; */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* It's needed in case I add images inside sliders */
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dayContainerClass, .buttonsPrevContainerClass {
  width: 90%;
  margin: 10px;
}

#mainContainer, #prevMainContainer, #geoMainContainer {
  justify-content:space-around;
  align-items:center;
  margin-left: 0px;
}

#prevMainContainer {
  top: 37px;
}

#geoContainer {
  min-width: 0px;
  width : 90%;
  margin: 10px;
}

.dayDailyTemp2m {
  font-size : 24px;
}

#clock {
  font-size: 16px;
  line-height: inherit;
}

.dailyWeatherCodeMainContainer {
  height: 90%;
}

/* div[class*="buttonsPrevContainerClass"]:hover {
  background-color: black;
} */

#buttonYesterday {
  position: static;
}

#buttonYesterday:hover, .tableBodyRow:hover {
  background-color: #b2c8ff;
  color: black;
}

#buttonDayBeforeYesterday {
  /* position: absolute; */
  display: none;
}

/* for desktop */
@media only screen and (min-width: 768px) {

body {
  font-size: 18px;
}

#clock {
  font-size: 20px;
  line-height: 10px;
}

td, th {
  text-align: left;
  padding: 10px;
}

.dayContainerClass, .buttonsPrevContainerClass {
    width: 500px;
    margin: 20px;
}

#mainContainer, #prevMainContainer, #geoMainContainer {
  justify-content:flex-start;
  align-items:flex-start;
  margin-left: 15px;
}

#prevMainContainer {
  top: 25px;
}

#geoContainer {
  min-width: 500px;
  max-width: 1020px;
  width : 50%;
  margin: 20px;
}

.dayDailyTemp2m {
  font-size : 32px;
}

.dailyWeatherCodeMainContainer {
  height: 100%;
}
 
#buttonYesterday {
  position: absolute;
}

#buttonDayBeforeYesterday {
  display: block;
  /* position: static; */
}

}