@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

.dayContainerClass {
  width: 100%;
}

html, body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

/* it's needed for disabling default arrows */
.swiper-button-next::after, .swiper-button-prev::after {
  content: "" !important;
}

div[id*="arrowRight"], div[id*="arrowLeft"] {
    top: 26px !important;  
}

div[id*="arrowRight"] {
  right: -2px !important;
}

div[id*="arrowLeft"] {
  left: -3px !important;
}

div[id*="swiperPagination"] {
  bottom: -2px !important
}

.swiper-pagination-bullet-active {
  --swiper-theme-color: #b2c8ff !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* It's needed in case I add images inside sliders */
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media only screen and (min-width: 768px) {
  .dayContainerClass {
      width: 400px;
  }
}